//Usually I would include a CSS Reset and a baseline generator but since this CSS will be integrated into the current website structure, I won't use them 

//My variables
$hubgets-blue : #00b5ef;
$hubgets-light-blue : #9cc7d9;
$hubgets-lightest-blue : #b7e5f4;
$hubgets-dark-blue : #0873a1;
$hubgets-gray : #f7f7f7;



//navbar
.signup .navbar {
    background-color: transparent;
    border: none;
    padding-top:30px;
    padding-bottom: 30px;
    margin:0;
    
}
.signup .navbar a.logo-hubgets {
    margin-left:0;
}


//Header
header.row-fluid {
    background: $hubgets-blue;
    padding:90px 0 120px;
    box-shadow: inset 0 -10px 17px -10px $hubgets-dark-blue, inset 0 7px 17px -11px;
   
    h1{
        color:white;
        font-size: 48px;
        font-weight: bold;
    }
    p {
        color:$hubgets-lightest-blue;
        font-size: 18px;
    }
}

//left register
.signup .register-icon {
    position: relative;
    top:-65px;
    img {
        
        padding: 30px;
        border-radius: 60px;
        box-shadow: 0px 5px 15px -7px $hubgets-dark-blue;
        background:url(../images/register_icon.png) white no-repeat center;
        
    }
}
.signup section.row-fluid {
    background: $hubgets-gray;
    padding-bottom: 100px;
    .left-register {
        background: white;
        box-shadow: 0px 0px 5px -2px $hubgets-dark-blue;
        padding-bottom: 20px;
    }
    .form-hubgets {
        position: relative;
        top:-30px;
        
        input:focus:invalid {
            background-color:#fde7e9;
            border-color: darkred;
        }
       
    }
}
.form-control {
    height: 47px;
}
.signup .form-hubgets input.btn {
    font-size:18px;
    font-weight: bold;
    padding:10px 40px;
}
//right register
.signup .right-register {
    padding-top:130px;
    .features {
        padding-bottom: 30px;
        display: table;
        
        img {
            
            display: table-cell;
            border:1px solid $hubgets-blue;
            padding:3px;
            border-radius: 5px;
        }
        p { padding-left: 20px;
            font-size: 16px;
            display: table-cell;
            line-height: 23px;
            vertical-align: middle;
        }
        .help-info {
            padding-left:20px;
            display: table-cell;
            vertical-align: middle;
        }
        a.btn {
            display: block;
            font-size:16px; 
            padding:0;
            span {
                color: black;
                font-size: 18px;
            }
        }
       
        
    }
     .help img{
        border: none;
    }
}
//footer
.signup footer.row-fluid {
    background:$hubgets-dark-blue;
    padding: 50px 0;
    color: $hubgets-lightest-blue;
    h5 {
        text-transform: uppercase;
        color: white;
        padding-bottom: 10px;
    }
    a{  
        font-size: 16px;
        padding:3px 0;
        color:$hubgets-lightest-blue;
        img {
            padding-left:0; 
        }
    }
    a:hover {
        color:white;
        text-decoration: none;
    }
    
}
.signup .copy {
    padding-top:15px;
}



//Responsive queryes to fix additional misbehaviour 
@media screen and (max-width: 767px) {
    //fixing the removal of the label element on mobile
    .form-group label {
        display: inline-block !important;
    }
    
    //removing unnecesary padding
    .signup .right-register { 
    padding-top:60px;
    }
    .signup section.row-fluid {
        padding-bottom:20px;
    }
}

